<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="l.files"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".ui.FilesApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme">

        <!--
            Set soft input mode to avoid an issue with CoordinatorLayout.
            When new folder menu is clicked, keyboard is shown, cancel, space
            previously occupied by keyboard is now blank instead of showing
            the list items.
        -->
        <activity
            android:name=".ui.browser.FilesActivity"
            android:theme="@style/Theme.NoActionBar"
            android:windowSoftInputMode="adjustNothing">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".operations.ui.FailuresActivity"
            android:exported="false"/>

    </application>
</manifest>
