<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="l.files.service"
          android:versionCode="1"
          android:versionName="1.0">

  <uses-sdk
      android:minSdkVersion="16"
      android:targetSdkVersion="19"/>

  <application>
    <service
        android:name=".DeleteService"
        android:exported="false"/>
    <service
        android:name=".CopyService"
        android:exported="false"/>
    <service
        android:name=".CutService"
        android:exported="false"/>
  </application>

</manifest>
