<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="l.files.ui.browser">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>

        <!--
            Set soft input mode to avoid an issue with CoordinatorLayout.
            When new folder menu is clicked, keyboard is shown, cancel, space
            previously occupied by keyboard is now blank instead of showing
            the list items.
        -->
        <activity
            android:name=".FilesActivity"
            android:theme="@style/Theme.NoActionBar.Overlay"
            android:windowSoftInputMode="adjustNothing">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter>
                <data android:scheme="file" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>

        </activity>

    </application>

</manifest>
