<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="l.files.provider"
          android:versionCode="1"
          android:versionName="1.0">

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19"/>

    <permission
        android:name="l.files.permission.MANAGE_FILES"
        android:protectionLevel="signature"/>

    <application/>

</manifest>
