<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="l.files.provider.bookmarks">

  <application>
    <provider
        android:authorities="@string/files_provider_bookmarks_authority"
        android:name=".BookmarksProvider"
        android:exported="false"/>
  </application>

</manifest>
