<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.example.files.lib.test"
  android:versionCode="1"
  android:versionName="1.0">

  <uses-sdk
    android:minSdkVersion="14"
    android:targetSdkVersion="17"/>

  <instrumentation
    android:name="android.test.InstrumentationTestRunner"
    android:targetPackage="com.example.files.lib.test"/>

  <application android:allowBackup="false">
    <uses-library android:name="android.test.runner"/>

    <activity android:name="com.example.files.lib.ui.adapters.FileListAdapterTest$TestActivity"/>
    <activity android:name="com.example.files.lib.ui.fragments.FileListFragmentTest$TestActivity"/>
  </application>

</manifest>