<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="l.files.provider"
          android:versionCode="1"
          android:versionName="1.0">

  <application>
    <provider
        android:authorities="@string/files_provider_authority"
        android:name=".FilesProvider"
        android:exported="false"/>
  </application>

</manifest>
