<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="l.files.ui.operations">

    <application>

        <activity
            android:name=".FailuresActivity"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.NoActionBar" />

    </application>

</manifest>
