<manifest
    package="l.files.operations"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>

        <service
            android:name=".OperationService"
            android:exported="false">
            <intent-filter>
                <!--
                  When error occurs, the app crashes, but notification will still be
                  there, this allows the service to be started again when user attempts
                  to cancel the notification and have it removed.
                 -->
                <action android:name="l.files.operations.CANCEL"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </service>

    </application>

</manifest>
