<manifest
    package="l.files.provider"
    xmlns:android="http://schemas.android.com/apk/res/android">

  <application>
    <provider
        android:name=".FilesProvider"
        android:authorities="@string/files_provider_authority"
        android:exported="false"/>
    <provider
        android:name=".MediaProvider"
        android:authorities="@string/files_provider_media_authority"
        android:exported="false"/>
    <provider
        android:name=".bookmarks.BookmarksProvider"
        android:authorities="@string/files_provider_bookmarks_authority"
        android:exported="false"/>
  </application>

</manifest>
